.loginForm{
  align-items: center;
  margin: auto;
  width: 300px;
  height: 300px;
}

#uname {
 padding: 10px 50px 10px 30px;
 border:1px solid black;
 outline:0;
 margin-bottom: 20px;
}
#pword {
 padding: 10px 50px 10px 30px;
 border:1px solid black;
 outline:0;
 margin-bottom: 20px;
}
#button{
 margin-left:90px;
 background-color:  #2ecc72;
 padding :10px 20px ;
 outline: 0;
 border: none;
 border-radius: 6px 6px;
 color:  white;
 font-size: 18px;

}
#button:hover{
background-color:#26ae60
}